HW4.synctex.gz
HW4.pdf
HW3/HW3.synctex.gz
HW3/HW3.pdf
HW3/HW3.log
HW3/HW3.fls
HW2/HW2.aux
HW2/HW2.fdb_latexmk
HW2/HW2.fls
HW2/HW2.log
HW2/HW2.pdf
HW2/HW2.synctex.gz
PHYS_285.code-workspace
HW3/HW3.aux
HW3/HW3.fdb_latexmk

HW4/HW4.log
HW4/HW4.fls
HW4/HW4.fdb_latexmk
HW4/HW4.aux

HW5/HW5.aux
HW5/HW5.fdb_latexmk
HW5/HW5.fls
HW5/HW5.log
HW5/HW5.synctex.gz
